html
  head
    script(src='/js/script.js' defer='')
    link(rel='stylesheet' href='/stylesheet/style.css')
    //- link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')

  body
    - var tomorrow_high
    - var total
    - var weather_discount

    //- - var weather_discount
    header_homepage SmartPrice
    subheader_homepage Theme Park Ticket Price Calculator
    form(action='/', method='POST')
    .centering

      h1 Het weer wordt morgen: 
      td #{Math.round(tomorrow_high)} °C
      p
      h1 De weer discount is:
      p#weather_discountt(style='color:green')
      script.
        document.getElementById("weather_discountt").innerHTML ="De weather discount is: "+weather_discount;
        
      td #{weather_discount}
      p#weer(style='color:green')
      h1 Leeftijd
      input#age(type='text')
      p
      h1 Weer (regen, neutraal, zonnig)
      input#weather(type='text')
      button(type='button' onclick='EnterName()') Bereken de ticketprijs
      p#demo(style='color:green')
      script.
        var price = 40;
        var discount = 1;
        function EnterName()
        {
        var age = document.getElementById("age").value;
        var age_disc = null;
        age = parseInt(age);
        if (age <= 11) {age_disc = -price*0.2;}
        if (age <= 64 && 12 <= age) {age_disc = 0;}
        if (65 <= age) {age_disc = -price*0.1;}
       
        //- var temp_disc = document.getElementById("weather_discountt").value;
        //- temp_disc=temp_disc.replace("De weather discount is: ", "");
        //- temp_disc=temp_disc.trim();
        //- temp_disc = parseFloat(temp_disc);
        //- t_disc = Math.round((temp_disc-1)*price);
        //- t_disc = parseInt(t_disc);
        //- if (temp < 10) {temp_disc = 0;}
        //- if (10 <= temp && temp <= 17) {temp_disc = price*0.1;}
        //- if (17 < temp && temp <= 24) {temp_disc = price*0.15;}
        //- if (24 < temp) {temp_disc = price*0.2;}

        //- var cap = document.getElementById("capacity").value;
        //- cap = parseInt(cap);
        //- var cap_disc = null;
        //- if (cap < 75) {cap_disc = 0;}
        //- if (75 <= cap && cap <= 90) {cap_disc = price*0.05;}
        //- if (90 < cap && cap <= 95) {cap_disc = price*0.1;}
        //- if (95 < cap) {cap_disc = price*0.2;}

        //- var day = document.getElementById("day").value;
        //- var day_disc = null;
        //- if (day == "maandag") {day_disc = 0;}
        //- if (day == "dinsdag") {day_disc = 0;}
        //- if (day == "woensdag") {day_disc = price*0.05;}
        //- if (day == "donderdag") {day_disc = 0;}
        //- if (day == "vrijdag") {day_disc = price*0.1;}
        //- if (day == "zaterdag") {day_disc = price*0.2;}
        //- if (day == "zondag") {day_disc = price*0.2;}

        var weather = document.getElementById("weather").value;
        var weather_disc = null;
        if (weather == "regen") {weather_disc = -price*0.1;}
        if (weather == "neutraal") {weather_disc = 0;}
        if (weather == "zonnig") {weather_disc = price*0.1;}

        var total = price+weather_disc+age_disc;

        document.getElementById("demo").innerHTML =
        "De ticketprijs is: "+ total +"€";
        //- uiteindelijke var: -> price+weather_disc+day_disc+t_disc+cap_disc+age_disc
        } //-price+weather_disc+age_disc+

    //- a(href='/authorize' style='font-size:30px; display:block;text-align:center;padding-top:50px;padding-bottom:50px;') Log in
    img(src='/images/image.png' alt='flyer_img' style='display: block; margin-left:auto; margin-right: auto; width:50%;')
    

    