html
  head
    script(src='/js/script.js' defer='')
    link(rel='stylesheet' href='/stylesheet/style.css')
    //- link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')

  body
    - var tomorrow_high
    //- - var weather_discount
    header_homepage SmartPrice
    subheader_homepage Theme Park Ticket Price Calculator
    form(action='/', method='POST')
    .centering

      h1 Het weer wordt morgen: 
      td #{Math.round(tomorrow_high)} °C
      p
      h1 De weer discount is:
      p#weather_discountt(style='color:green')
      script.
        document.getElementById("weather_discountt").innerHTML ="De weather discount is: "+weather_discount;
        
      td #{weather_discount}
      p#weer(style='color:green')
      h1 Leeftijd
      input#age(type='text')
      p
      h1 Weer (regen, neutraal, zonnig)
      input#weather(type='text')
      button(type='button' onclick='EnterName()') Bereken de ticketprijs
      p#demo(style='color:green')
      script.
        var price = 40;
        var discount = 1;
        function EnterName()
        {
        var age = document.getElementById("age").value;
        age = parseInt(age);
        if (age <= 11) {discount *= 0.8;}
        if (12 <= age <= 64) {discount *= 1;}
        if (65 <= age) {discount *= 0.9;}
       
        //- var temp = document.getElementById("temperature").value;
        //- if (temp < 10) {discount *= 1;}
        //- if (10 <= temp <= 17) {discount *= 1.1;}
        //- if (17 < temp <= 24) {temp_discount *= 1.15;}
        //- if (24 < temp) {temp_discount *= 1.2;}

        //- var cap = document.getElementById("capacity").value;
        //- cap = parseInt(cap);
        //- if (cap < 75) {cap_discount *= 1;}
        //- if (75 <= cap <= 90) {cap_discount *= 1.05;}
        //- if (90 < cap <= 95) {cap_discount *= 1.1;}
        //- if (95 < cap) {cap_discount *= 1.2;}

        //- var day = document.getElementById("day").value;
        //- if (day == "maandag") {day_discount *= 1;}
        //- if (day == "dinsdag") {day_discount *= 1;}
        //- if (day == "woensdag") {day_discount *= 1.05;}
        //- if (day == "donderdag") {day_discount *= 1;}
        //- if (day == "vrijdag") {day_discount *= 1.1;}
        //- if (day == "zaterdag") {day_discount *= 1.2;}
        //- if (day == "zondag") {day_discount *= 1.2;}

        var weather = document.getElementById("weather").value;
        if (weather == "regen") {discount *= 0.9;}
        if (weather == "neutraal") {discount *= 1;}
        if (weather == "zonnig") {discount *= 1.1;}

        document.getElementById("demo").innerHTML =
        "De ticketprijs is: "+ price*discount +"€";
        }

    //- a(href='/authorize' style='font-size:30px; display:block;text-align:center;padding-top:50px;padding-bottom:50px;') Log in
    img(src='/images/image.png' alt='flyer_img' style='display: block; margin-left:auto; margin-right: auto; width:50%;')
    

    