html
  head
    script(src='/js/script.js' defer='')
    link(rel='stylesheet' href='/stylesheet/style.css')
    //- link(rel='stylesheet' href='https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css')

  body
    - var tomorrow_high
    //- - var weather_discount
    header_homepage SmartPrice
    subheader_homepage Theme Park Ticket Price Calculator
    form(action='/', method='POST')
    .centering

      h1 Het weer wordt morgen: 
      td #{tomorrow_high}
      td #{weather_discount}
      p
      h1 De weer discount is:
      p#weather_discountt(style='color:green')
      script.
        document.getElementById("weather_discountt").innerHTML ="De weather discount is: "+weather_discount;
        
      td #{weather_discount}
      p#weer(style='color:green')
      h1 Leeftijd
      input#age(type='text')
      p
      h1 Weer (regen, neutraal, zonnig)
      input#weather(type='text')
      button(type='button' onclick='EnterName()') Bereken de ticketprijs
      .slidecontainer
      input#myRange.slider(type='range' min='1' max='100' value='50')
      p#demo(style='color:green')
      script.
        var price = 40;
        var discount = 1;
        function EnterName()
        {
        var age= document.getElementById("age").value;
        var weather= document.getElementById("weather").value;
        age = parseInt(age);
        if (age < 19) {
          discount *= 0.5;
        }
        if (weather == "regen") {
          discount *= 0.9;
        }

        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value; // Display the default slider value

        // Update the current slider value (each time you drag the slider handle)
        slider.oninput = function() {
          output.innerHTML = this.value;
        }
        document.getElementById("demo").innerHTML =
        "De ticketprijs is: "+ price*discount +"€";
        }

    //- a(href='/authorize' style='font-size:30px; display:block;text-align:center;padding-top:50px;padding-bottom:50px;') Log in
    img(src='/images/image.png' alt='flyer_img' style='display: block; margin-left:auto; margin-right: auto; width:50%;')
    

    